{
    "plugins": [
      [
        "@babel/plugin-transform-runtime",
        {
          "absoluteRuntime": false,
          "corejs": 2,
          "helpers": true,
          "regenerator": true,
          "useESModules": false
        }
      ],"@babel/plugin-proposal-class-properties",
      ["component", 
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]
      // "transform-remove-strict-mode"//导入mui.js时候使用的去除严格模式
  ],
  "ignore": [ "./src/lib/mui/js/*.js" ]
     
   
  }